.active {
	color: white;
	font-weight: 700;
}

body {
	background-color: #453c67;
}

nav {
	background-color: rgb#453c67 !important;
	color: white;
}

.card-body {
	min-height: 300px;
}
img {
	width: 75%;
}
